body {
    text-align: center;
    background:linear-gradient(pink 30%, yellow 70%,)

}

h1 {
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

#intro{
   background-color: black;
   color:white;
}

#origami1{
    background-color: yellow;
}

#origami2{
    background-color: orange;
}

.line{
    height: 6px;
    background-color:black;
    width: 70px;
    margin: 8px auto;
}
#Bye_Section{
 background-color: pink;   
}